In [3]:
# Load in SQL, Pandas and SQLite

%load_ext sql

import pandas as pd
import sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql sqlite:///CourseData.db 
conn = sqlite3.connect('CourseData.db')

In [5]:
%%sql

--TEST

SELECT *
FROM COURSE
LIMIT 5;

 * sqlite:///CourseData.db
Done.

[('AC 0011', 1, 2, 'Introduction to Financial Accounting', 'This course introduces students to financial accounting. Students learn to read and comprehend published financial statements and are introduced to t ... (34 characters truncated) ... pics include financial statement analysis; accrual accounting; revenue and expense recognition; and accounting for assets, liabilities, and equities.', None, None, None, None, 3),
 ('AC 0012', 2, 2, 'Introduction to Management Accounting', 'This course introduces students to managerial accounting and the role of accounting information in managerial decision-making. Topics include a descr ... (203 characters truncated) ... , activity-based costing), so that students can make recommendations about performance evaluation, project evaluation and other management decisions.', None, None, 'AC 0011.', None, 3),
 ('AC 0203', 3, 2, 'Intermediate Accounting I', 'This course provides an in-depth study of financial accounting theory and concepts, and the presentation of financial statements in conformity with G ... (9 characters truncated) ... Accepted Accounting Principles (GAAP). The course emphasizes balance sheet valuations and their relationship to income measurement and determination.', None, None, 'AC 0011.', None, 3),
 ('AC 0204', 4, 2, 'Intermediate Accounting II', 'This course continues the in-depth study of financial accounting theory and concepts, and the presentation of financial statements in conformity with Generally Accepted Accounting Principles (GAAP) begun in ', None, None, 'AC 0203.', None, 3),
 ('AC 0310', 5, 2, 'Advanced Accounting', 'This course focuses on accounting for various financial investments, including financial instruments, derivatives, and business combinations. Student ... (17 characters truncated) ... role of financial instruments in hedging foreign currency exposures and the complications encountered in financial reporting in a global environment.', None, None, 'AC 0204; junior or senior standing.', None, 3)]

# 6) Queries Run on Data

In [6]:
%%sql

-- What was the biggest class enrollment out all Semesters from Fall 2014 to Winter 2018?

SELECT Max(Act), CourseTitle, CatalogID
FROM COURSE_OFFERING;

 * sqlite:///CourseData.db
Done.

[(90, 'Fundamentals of Nursing Care', 'NS 0307')]

In [17]:
%%sql

-- What are all the World Diversity Courses from Fall 2014 to Winter 2018? 

SELECT Attributes, CourseTitle, CatalogID
FROM COURSE
WHERE Attributes LIKE '%WDIV%'
LIMIT 5;

 * sqlite:///CourseData.db
Done.

[('WDIV World Diversity', 'Introduction to Four-Field Anthropology', 'AY 0010'),
 ('WDIV World Diversity', 'Cultural Anthropology', 'AY 0111'),
 ('BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, WDIV World Diversity', 'Cultures of Africa', 'AY 0130'),
 ('WDIV World Diversity', 'Islamic Societies and Cultures', 'AY 0152'),
 ('HACA Humanitarian Action Minor Context Course, WDIV World Diversity', 'Ethical Dimensions of Global Business Practices', 'AE 0276')]

In [21]:
%%sql
-- What is the average class size for Business Analytics Courses? 

SELECT AVG(Act), CourseTitle, CatalogID
FROM COURSE_OFFERING 
WHERE CourseTitle LIKE '%Analytics%'
GROUP BY CourseTitle;

 * sqlite:///CourseData.db
Done.

[(32.0, 'Business Analytics', 'BA 0500'),
 (5.0, 'Business Analytics and Big Data Management', 'IS 0550'),
 (9.173913043478262, 'Business Analytics and Big Data Mgmt', 'IS 0550'),
 (24.0, 'Business Analytics with Spreadsheets', 'IS 0210'),
 (21.0, 'Business Forecasting and Predictive Analytics', 'QA 0500'),
 (1.0, 'Contemporary Topics: Business Analytics with Spreadsheets', 'IS 0585'),
 (15.0, 'Contemporary Topics: Database Systems for Business Analytics', 'IS 0585C'),
 (11.0, 'Contemporary Topics: Retail Analytics', 'MK 0585'),
 (25.57894736842105, 'Databases for Business Analytics', 'IS 0510'),
 (20.293650793650794, 'Fundamentals of Business Analytics', 'IS 0210'),
 (16.0, 'Introduction to Business Analytics', 'OM 0500'),
 (20.0, 'Principles of Business Analytics', 'OM 0400'),
 (10.0, 'Python Apps for Busn Analytics', 'IS 0235'),
 (27.375, 'Python for Business Analytics', 'IS 0505'),
 (11.0, 'Visual Analytics', 'CS 0320')]

In [29]:
%%sql 

-- What classroom had the most classes held?

SELECT Location, COUNT(DISTINCT CatalogID) AS Number_Of_Classes
FROM COURSE_MEETING
GROUP BY Location
ORDER BY Number_Of_Classes DESC
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('CNS 101', 134),
 ('CNS 9', 126),
 ('CNS 10', 123),
 ('BNW 341', 121),
 ('CNS 203', 120),
 ('CNS 108', 117),
 ('BNW 127', 115),
 ('CNS 208', 112),
 ('CNS 104', 109),
 ('BNW 333', 108)]

In [30]:
%%sql

Vacuum;

 * sqlite:///CourseData.db
Done.

[]